<!DOCTYPE html>

<!-- Página donde se le permite al usuario registrar sus datos y concretar un servicio para el automóvil -->

<html lang="es">
    <head>
        <title><%- titulo %></title>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">   

        <!-- Lista de archivos y enlaces a utilizar por el sitio web -->
        <%- include('partials/listaEnlacesUno') %>

        <link rel="stylesheet" type="text/css" href="css/estilosContacto.css">                
    </head>
    <body>
        <header>
            <div class="container-fluid px-0">

                <!-- Encabezado -->
                <%- include('partials/encabezado') %>

                <!-- Menú de navegación -->
                <%- include('partials/navegacion') %>     
                                                                           
            </div> 
        </header>

        <!-- Sección principal -->
        <main>

            <!-- Título -->
            <%- include('partials/contactoTitulo') %>

            <%- include('partials/contactoUbicacion') %>

            <div class="container-fluid bg-light p-3 border-top border-dark-50">
                <div class="row">
                    
                    <!-- Formulario de contacto -->
                    <%- include('partials/contactoFormulario') %>                    
                    
                    <!-- Horario de servicios -->
                    <%- include('partials/contactoHorario') %>

                </div>

                <!-- Lista de servicios -->
                <div class="row border-dark-50 border-top"> 
                    
                    <!-- Otros servicios -->
                    <%- include('partials/contactoOtrosServicios') %>
                    
                </div>
            </div>                        
        </main>

        <!-- Pie de página -->
        <footer class="bg-secondary">
            <div class="container-fluid">                

                <!-- Información de contacto del negocio -->
                <%- include('partials/piepagina') %>        
                
            </div> 
            
            <!-- Información derechos de autor -->
            <%- include('partials/derechos') %> 
            
        </footer>   

        <!-- JavaScript -->
        <script>            
            function ResaltarOpcion(id, color) {
                document.getElementById(id).style.background = color; 
            }

            function noResaltarOpcion(id, color) {
                document.getElementById(id).style.background = color;
            }
        </script>  
                        
        <!-- Lista de archivos y enlaces a utilizar por el sitio web -->
        <%- include('partials/listaEnlacesDos') %> 
    </body>
</html>