<!DOCTYPE html>

<!-- Página donde se le permite al usuario registrar sus datos y concretar un servicio para el automóvil -->

<html lang="es">
    <head>
        <title><%- titulo %></title>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">   

        <!-- Lista de archivos y enlaces a utilizar por el sitio web -->
        <%- include('partials/listaEnlacesUno') %>

        <!-- Utilizando estilos css personalizados -->
        <link rel="stylesheet" type="text/css" href="css/estilosContacto.css">                
    </head>
    <body>
        <header>
            <div class="container-fluid">

                <!-- Encabezado -->
                <%- include('partials/encabezado') %>

                <!-- Menú de navegación -->
                <%- include('partials/navegacion') %>     
                                                                           
            </div> 
        </header>

        <!-- Sección principal -->
        <main>

            <!-- Título -->
            <%- include('partials/contactoTitulo') %>

            <%- include('partials/contactoUbicacion') %>

            <div class="container-fluid bg-light p-3 border-top border-dark-50">
                <div class="row">
                    
                    <!-- Formulario de contacto -->
                    <%- include('partials/contactoFormulario') %>                    
                    
                    <!-- Horario de servicios -->
                    <%- include('partials/contactoHorario') %>

                </div>

                <!-- Lista de servicios -->                                                        
                <%- include('partials/contactoOtrosServicios') %>
                                    
            </div>                        
        </main>

        <!-- Pie de página -->
        <footer class="bg-secondary">
            <div class="container-fluid">
                <div class="row p-5">

                    <!-- Enlaces a las páginas del sitio web -->
                    <%- include('partials/footerPaginas') %>

                    <!-- Información de contacto por redes sociales -->
                    <%- include('partials/footerRedes') %>

                    <!-- Información servicios de la empresa -->
                    <%- include('partials/footerServicios') %>

                    <!-- Información de contacto de la empresa -->
                    <%- include('partials/footerContacto') %>
                </div>                                
            </div> 
            
            <!-- Información derechos de autor -->
            <%- include('partials/footerCopyright') %> 
            
        </footer> 

        <!-- JavaScript -->
        <script>            
            function ResaltarOpcion(id, color) {
                document.getElementById(id).style.background = color; 
            }

            function noResaltarOpcion(id, color) {
                document.getElementById(id).style.background = color;
            }
        </script>   
        
        <!-- Lista de archivos y enlaces a utilizar por el sitio web -->
        <%- include('partials/listaEnlacesDos') %>
    </body>
</html>